.frame {
    overflow: hidden;
    padding-top: 60px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 140px;
  height: 12px;
  padding: 10px;
  font: 12px sans-serif;
  font-weight: bold;
  /*background: #ddd;*/
  /*border: solid 1px #aaa;*/
  border-radius: 8px;
  pointer-events: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: grey;
  stroke-width: 1.5px;
}